<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
    
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <% if (locals.user) { %>
    <div class="container mt-3">    
        <div class="row row-cols-3">    
            <% allBlog.forEach(element => { %>
                <div class="col mt-4">
                    <div class="card col" style="width: 18rem;">
                        <img src="<%= element.coverImageURL %>" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"><%= element.title %></h5>
                          <a href="/blog/<%= element._id %>" class="btn btn-primary">Read More</a>
                          <!-- Form for deleting the blog post -->
                      <form action="/blog/delete/<%= element._id %>" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <% } %>

    <%- include('./partials/scripts.ejs') %>
</body>
</html>